.avtaar {
  display: block;
  position: relative;
  width: fit-content;
}

.rating {
  position: absolute;
  clip-path: circle();
  color: gold;
  background-color: rgb(255, 255, 255, 0.00);
  left: 64%;
  top: 66%;
}

.img {
  height: 100px;
  width: 100px;
  clip-path: circle();
}

.points {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: brown;
  font-weight: bold;
  font-size: 1rem;
}

.icon {
  width: 45px;
}
